<div class="footer" id="contact">
  <div class="footer-container">
    <div class="footer-container-form">
      <form action="MAILTO:songezo.mtengwana@younglings.africa" class="form">
        <div class="form-header">
          Send Me An Email
        </div>
        <div class="form-body">
          <div class="form-body-inputs">
            <input [(ngModel)]="form.name" type="text" name="name" class="inputs-input" required>
            <label for="name" class="inputs-label">Name</label>
          </div>
          <div class="form-body-inputs">
            <input [(ngModel)]="form.email" type="email" name="email" class="inputs-input" required>
            <label for="email" class="inputs-label">Email</label>
          </div>
          <div class="form-body-inputs">
            <textarea [(ngModel)]="form.message" name="comment" id="" class="inputs-textarea" cols="30" rows="10"
              required></textarea>
            <label for="email" class="inputs-label">Message</label>
          </div>
        </div>
        <div class="form-recaptcha">
          install recaptcha bot ASAP !
        </div>
        <div class="form-submit">
          <button type="submit" id="form-button" (click)="handleForm()">
            Send Email →
          </button>
        </div>
      </form>
    </div>
    <div class="footer-container-links">
      <ul>
        <a class="bi bi-github"></a>
        <a class="bi bi-behance"></a>
        <a class="bi bi-discord"></a>
        <a class="bi bi-dribbble"></a>
      </ul>
    </div>
  </div>
  <div class="bottom">
    coded with 🤍 by <a href="github.com/songezomtengwana-code">@songezomtengwana</a>
  </div>
</div>
