.landing {
  min-height: 100vh;
  min-width: 98vw;
  display: grid;
  place-content: center;
  padding: 4rem 17.5rem;
}

.landing-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.landing-container-left {
  display: flex;
  flex-flow: column;
  gap: .275rem;
  padding-right: 7.5rem;
}

.left-header {
  font-size: 3.5rem;
  max-width: 640px;
}

span.left-guild {
  font-size: 1.1rem;
  font-weight: 600;
  color: #8739f9;
}

p.left-description {
  margin-bottom: 2rem;
}

.left-call-to-action {
  text-decoration: none;
  color: var(--white);
  background: var(--primary);
  width: max-content;
  padding: .75rem 2.25rem;
  border-radius: 7.5px;
}

.scroller {
  width: 20px;
  height: 50px;
  border: 3px solid var(--primary);
  border-radius: 10px;
  position: absolute;
  bottom: 3rem;
  left: 47.5%;
}

a.scroller-icon {
  height: 1rem;
  width: 1rem;
  background: var(--primary);
}

.landing-container-right {
  display: grid;
  position: relative;
  place-content: center;
}

img.right-illustration {
  height: 47vh;
  position: relative;
}

img.right-illustration.cup {
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 18vh;
  animation: updown 2s ease-in-out alternate infinite;
}

@keyframes updown {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(-5px);
  }
}
