<div class="landing" id="top">
  <div class="landing-container">
    <div class="landing-container-left">
      <div class="left-header">Hi, I'm {{ data.name }}</div>
      <span class="left-guild">{{ data.guild }}</span>
      <p class="left-description">{{ data.description }}</p>
      <a class="left-call-to-action" href="#contact">
        lets talk
      </a>
      <div class="scroller"><a href="skills" class="scroller-icon"></a>
      </div>
    </div>
    <div class="landing-container-right">
      <!-- <img [src]="data.illustration" alt="" class="right-illustration"> -->
      <img src="../../../assets/illustration/developer-desktop.png" class="right-illustration desktop" alt="" srcset="">
      <img src="../../../assets/illustration/developer-up.png" class="right-illustration cup" alt="" srcset="">
    </div>
  </div>
</div>
